<div class="row">
	<div class="col s12">
		<small>Su crédito</small>
		<h1>
			<span class="green-text">§<%= Number.parseFloat(credit).toFixed(2) %></span>
		</h1>

		<p>Use su crédito para canjear por productos o servicios dentro de nuestra app, o transfiera créditos a otros usuarios.</p>

		<a class="waves-effect waves-light btn-small" href="#" onclick="apretaste.send({command:'CREDITO TRANSFERIR'})">Transferir</a>
		<a class="waves-effect waves-light btn-small grey" href="#" onclick="apretaste.send({command:'CREDITO OBTENER'})">Obtener crédito</a>

		<% if(items.length) { %>
			<h1>Transacciones</h1>

			<table class="striped">
				<tr>
					<th></th>
					<th>Fecha</th>
					<th>Para/De</th>
					<th>Costo</th>
				</tr>
				<% items.forEach(function(item){ %>
					<tr>
						<td><%= item.name ? "Canje" : (item.type=='Recibido' ? 'Recibido' : "Enviado") %></td>
						<td><%= formatDate(item.transfer_time) %></td>
						<td >
							<% if (item.type=='Enviado') { %>
								 <%= item.name ? item.name : '@'+item.username %>
							<% } else { %>
								 @<%= item.sender_username %>
							<% }%>
						</td>
						<td <% if (item.type=='Enviado') { %> class="red-text" <%} else {%>class="green-text"<% } %>>
							<% if (item.type=='Enviado') { %> -<%} else {%> +<% } %>§<%= Number.parseFloat(item.amount).toFixed(2) %>
						</td>
					</tr>
				<% }) %>
			</table>
		<% } %>
	</div>
</div>