<h1>Transacci&oacute;n realizada</h1>

<% if(item) { %>
	<p>Gracias por canjear <b><%= item.name.toLowerCase() %></b> por <b>&sect;<%= Number.parseFloat(amount).toFixed(2) %></b>.</p>
<% } else { %>
	<p>Gracias por transferir <b>&sect;<%= Number.parseFloat(amount).toFixed(2) %></b> a <b>@<%= receiver.username %></b>. Le hemos mandando una notificaci&oacute;n al destinatatio dejandole saber.</p>
<% } %>

<p>Esta transacci&oacute;n ha sido realizada con &eacute;xito el <%= formatDate(new Date()) %>. Puede descargar esta p&aacute;gina como comprobante.</p>

<a class="waves-effect waves-light btn" href="#" onclick="apretaste.send({command:'CREDITO'})">Transacciones</a>
