<div class="row">
	<div class="col s12">
		<h1>Transacción realizada</h1>

		<% if(item) { %>
			<p>Gracias por canjear <b><%= item.name.toLowerCase() %></b> por <b>§<%= Number.parseFloat(amount).toFixed(2) %></b>.</p>
		<% } else { %>
			<p>Gracias por transferir <b>§<%= Number.parseFloat(amount).toFixed(2) %></b> a <b>@<%= receiver.username %></b>. Le hemos mandando una notificación al destinatatio dejandole saber.</p>
		<% } %>

		<p>Esta transacción ha sido realizada con éxito el <%= formatDate(new Date()) %>. Puede descargar esta página como comprobante.</p>

		<a class="waves-effect waves-light btn" href="#" onclick="apretaste.send({command:'CREDITO'})">Transacciones</a>
	</div>
</div>